[Desktop Entry]
Version=1.0
Name=Browser External
GenericName=Web Browser
Comment=Browse the Web
Exec=/usr/libexec/anaconda/browser-ext %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/extlink;
StartupNotify=true
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager-window;
NoDisplay=true
X-Desktop-File-Install-Version=0.28


[Desktop Action new-window]
Name=Open a New Window
Exec=firefox -new-window

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=firefox -private-window

[Desktop Action profile-manager-window]
Name=Open Profile Manager
Exec=firefox -ProfileManager
