[Desktop Entry]
Name=IBus LibBopomofo Preferences
Comment=Set ibus-libbopomofo Preferences
Exec=/usr/libexec/ibus-setup-libpinyin libbopomofo
Icon=/usr/share/ibus-libpinyin/icons/ibus-bopomofo.svg
NoDisplay=true
Type=Application
StartupNotify=true
