[Desktop Entry]
Name=IBus LibPinyin Setup
Comment=Set ibus-libpinyin Preferences
Exec=/usr/libexec/ibus-setup-libpinyin libpinyin
Icon=/usr/share/ibus-libpinyin/icons/ibus-pinyin.svg
NoDisplay=true
Type=Application
StartupNotify=true
