[Desktop Entry]
Name=IBus Anthy Setup
Comment=Set up IBus Anthy engine
Exec=/usr/libexec/ibus-setup-anthy
Icon=ibus-anthy
NoDisplay=true
Type=Application
StartupNotify=true
