[Desktop Entry]
Name=IBus Chewing Preferences
Comment=Set IBus Chewing Preferences
Exec=/usr/libexec/ibus-setup-chewing
Icon=org.freedesktop.IBus.Chewing.Setup
NoDisplay=true
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
