[Desktop Entry]
Name[be]=Connections
Name[bg]=Свързване
Name[ca]=Connexions
Name[cs]=Připojení
Name[da]=Forbindelser
Name[de]=Verbindungen
Name[el]=Συνδέσεις
Name[en_GB]=Connections
Name[eo]=Konektoj
Name[es]=Conexiones
Name[eu]=Konexioak
Name[fa]=دوردست‌ها
Name[fi]=Yhteydet
Name[fr]=Connexions
Name[fur]=Conessions
Name[gl]=Conexións
Name[he]=חיבורים
Name[hi]=Connections
Name[hr]=Povezivanja
Name[hu]=Kapcsolatok
Name[id]=Sambungan
Name[is]=Tengingar
Name[it]=Connessioni
Name[ja]=接続
Name[ka]=კავშირები
Name[kab]=Tuqqniwin
Name[kk]=Байланыстар
Name[ko]=연결
Name[lt]=Ryšiai
Name[lv]=Savienojumi
Name[nb]=Fjernstyring
Name[ne]=जडानहरू
Name[nl]=Verbindingen
Name[oc]=Connexions
Name[pa]=ਕਨੈਕਸ਼ਨ
Name[pl]=Połączenia
Name[pt]=Ligações
Name[pt_BR]=Conexões
Name[ro]=Conexiuni
Name[ru]=Подключения
Name[sk]=Pripojenia
Name[sl]=Povezovalnik
Name[sr]=Везе
Name[sr@latin]=Veze
Name[sv]=Anslutningar
Name[th]=การเชื่อมต่อ
Name[tr]=Bağlantılar
Name[uk]=З'єднання
Name[uz]=Ulanishlar
Name[vi]=Kết nối
Name[zh_CN]=连接
Name[zh_TW]=連線
Name=Connections
Exec=gnome-connections %U
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;RemoteAccess;Network;
# Translators: "windows" refers specifically to the Microsoft Windows brand,
# not a desktop window or a pane of glass in the side of a building
Keywords[be]=vnc;rdp;remote;desktop;windows;support;access;view;аддалены;працоўны;стол;падтрымка;доступ;прагляд
Keywords[bg]=vnc;rdp;remote;desktop;windows;support;access;view;отдалечена;графична;среда;достъп;връзка;свързване;
Keywords[ca]=vnc;rdp;remot;escriptori;windows;suport;accés;visualitza
Keywords[cs]=vnc;rdp;remote;vzdálený;desktop;plocha;windows;podpora;přístup;zobrazení;
Keywords[da]=vnc;rdp;fjern;remote;desktop;;skrivebord;windows;support;hjælp;adgang;tilgang;tilgå;vis
Keywords[de]=vnc;rdp;remote;entfernt;desktop;windows;support;Unterstützung;access;Zugang;view;Ansicht
Keywords[el]=vnc;rdp;απομακρυσμένα;επιφάνεια εργασίας;windows;υποστήριξη;πρόσβαση;προβολή
Keywords[en_GB]=vnc;rdp;remote;desktop;windows;support;access;view
Keywords[eo]=vnc;rdp;defora;labortablo;fenestroj;subteno;aliro;vido
Keywords[es]=vnc;rdp;remoto;escritorio;ventanas;soporte;acceso;ver
Keywords[eu]=vnc;rdp;urrenekoa;mahaigaina;windows;euskarria;atzitu;ikusi
Keywords[fa]=vnc;rdp;remote;desktop;windows;support;access;view;دوردست;میزکار;پشتیبانی;دسترسی
Keywords[fi]=vnc;rdp;remote;desktop;windows;support;access;view;työpöytä;tuki;etäyhteys
Keywords[fr]=vnc;rdp;distant;distance;bureau;windows;prise en main;prise en charge;support;accès;visualisation
Keywords[fur]=vnc;rdp;lontan;esterni;scritori;windows;supuart;acès;visualizâ
Keywords[gl]=vnc;rdp;remoto;escritorio;windows;asistencia;soporte;acceso;ver
Keywords[he]=‫vnc;rdp;מרוחק;רימוט;שולחן עבודה;מרחוק;רחוק;מכתבה;חלונות;תמיכה;עזרה;סיוע;גישה;תצוגה;צפייה;השגחה
Keywords[hi]=vnc;rdp;रिमोट;डेस्कटॉप;windows;समर्थन;पहुंच;देखें;
Keywords[hr]=vnc;rdp;udaljeno;radna površina;windows;podrška;pristup;gledaj
Keywords[hu]=vnc;rdp;távoli;asztal;windows;támogatás;elérés;hozzáférés;megtekintés
Keywords[id]=vnc;rdp;jarak jauh;destop;windows;dukungan;akses;lihat
Keywords[is]=vnc;rdp;fjartengt;skjáborð;windows;linux;mac;stuðningur;aðgangur;skoða
Keywords[it]=vnc;rdp;remoto;desktop;windows;supporto;accesso;visualizza
Keywords[ja]=vnc;rdp;remote;desktop;windows;support;access;view;リモート;デスクトップ;ウィンドウ;サポート;アクセス;表示;
Keywords[ka]=vnc;rdp;remote;desktop;windows;support;access;view
Keywords[kab]=vnc;rdp;anmeggag;tanarit;isfuyla;asefrek;anekcum;taskant
Keywords[kk]=vnc;rdp;remote;desktop;windows;support;access;view;қашықтағы;жұмыс үстелі;терезелер;қолдау;қатынау;қарау
Keywords[ko]=vnc;rdp;remote;원격;desktop;데스크톱;windows;윈도우;support;지원;access;접근;view;보기
Keywords[lt]=vnc;rdp;nutolęs;darbalaukis;langai;pagalba;prieiga;rodymas
Keywords[lv]=vnc;rdp;attāli;darbvirsma;windows;atbalsts;piekļuve;skatīt
Keywords[nb]=connections;vnc;rdp;fjernstyring;eksternt;skrivebord;remote desktop;brukerstøtte;virtuell;virtualisering;vm;koble til;skjermdeling;tilgang
Keywords[ne]=vnc;rdp;टाढाको;डेस्कटप;सञ्झ्याल;समर्थन;पहुँच;दृश्य
Keywords[nl]=vnc;rdp;remote;desktop;windows;support;access;view;extern;bureaublad;ondersteuning;toegang;bekijken;weergave
Keywords[oc]=vnc;rdp;remote;desktop;windows;support;access;view;veire;accès;assisténcia;burèu;distant;alonhat;vista
Keywords[pa]=ਵੀਐਨਸੀ;ਰਿਮੋਟ;ਡੈਸਕਟਾਪ;ਵਿੰਡੋ;ਸਹਿਯੋਗ;ਪਹੁੰਚ;ਵੇਖੋ
Keywords[pl]=vnc;rdp;zdalny;pulpit;remote;desktop;windows;wsparcie;pomoc;dostęp;wyświetlanie;
Keywords[pt]=vnc;rdp;remoto;desktop;janelas;suporte;acesso;visualização
Keywords[pt_BR]=vnc;rdp;remote;desktop;windows;support;access;view;suporte;remoto;área;trabalho;veja;acesse;ver;acessar;
Keywords[ro]=vnc;rdp;remote;desktop;windows;support;access;view;vezi;computer;distanță;ferestre;suport;acces;vizualizare;
Keywords[ru]=vnc;rdp;удалённая работа;десктоп;окна;поддержка;доступ;просмотр
Keywords[sk]=vnc;rdp;vzdialená;plocha;okná;windows;podpora;prístup;zobrazenie;zobraziť;
Keywords[sl]=vnc;rdp;remote;desktop;windows;support;access;view;oddaljeno;souporaba;podpora;okno;namizje;pogled;dostop
Keywords[sr]=vnc;rdp;remote;desktop;windows;support;access;view;внц;рдп;удаљено;десктоп;радна површ;виндоус;подршка;приступ;погледај;vindous;podrska
Keywords[sr@latin]=vnc;rdp;remote;desktop;windows;support;access;view;vnc;rdp;udaljeno;desktop;radna površ;vindous;podrška;pristup;pogledaj;vindous;podrska
Keywords[sv]=vnc;rdp;fjärr;skrivbord;windows;support;åtkomst;visning
Keywords[th]=vnc;rdp;ระยะไกล;คอมพิวเตอร์;windows;รองรับ;เข้าถึง;ดู;
Keywords[tr]=connections;vnc;rdp;remote;desktop;windows;support;access;view;uzak;masaüstü;destek;erişim;görüntüleme
Keywords[uk]=vnc;rdp;remote;desktop;windows;support;access;view;віенсі;внс;рдп;віддалена;стільниця;вікна;віндоус;віндовс;віндовз;підтримка;супровід;доступ;перегляд
Keywords[uz]=vnc;rdp;remote;desktop;windows;support;access;view
Keywords[vi]=vnc;rdp;remote;desktop;windows;support;access;view
Keywords[zh_CN]=vnc;rdp;remote;desktop;windows;support;access;view;远程;桌面;窗口;协助;访问;查看
Keywords[zh_TW]=vnc;rdp;remote;desktop;windows;support;access;view;遠端桌面連線;客戶端;
Keywords=vnc;rdp;remote;desktop;windows;support;access;view
StartupNotify=true
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Connections
DBusActivatable=true
MimeType=application/x-vnc
