[Desktop Entry]
Type=Application
Name=Fedora Media Writer
Comment=Write Fedora images to your portable drives
Icon=org.fedoraproject.MediaWriter
Exec=mediawriter
Terminal=false
Categories=System;
Keywords=fmw;usb;iso;bootable;

