[Desktop Entry]
Version=1.0
Name=Maps
Comment=A simple maps application
Exec=gapplication launch org.gnome.Maps %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Maps
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Maps;
DBusActivatable=true
MimeType=application/vnd.geo+json;x-scheme-handler/geo;x-scheme-handler/maps;application/vnd.google-earth.kml+xml;application/gpx+xml;application/fits;
X-Geoclue-Reason[ar]=يسمح بإظهار مكانك على الخريطة.
X-Geoclue-Reason[be]=Дазваляе паказаць ваша месцазнаходжанне на карце.
X-Geoclue-Reason[bg]=Местоположението ви да се показва на картата.
X-Geoclue-Reason[ca]=Permet mostrar la vostra ubicació al mapa.
X-Geoclue-Reason[ca@valencia]=Permet mostrar la vostra ubicació al mapa.
X-Geoclue-Reason[cs]=Umožňuje vám zobrazit si na mapě své místo.
X-Geoclue-Reason[da]=Tillader at din placering vises på kortet.
X-Geoclue-Reason[de]=Ermöglicht die Anzeige Ihres Ortes in der Karte.
X-Geoclue-Reason[el]=Επιτρέπει την τοποθεσία σας να εμφανιστεί στον χάρτη.
X-Geoclue-Reason[en_GB]=Allows your location to be shown on the map.
X-Geoclue-Reason[eo]=Ebligas montri vian pozicion sur la mapo.
X-Geoclue-Reason[es]=Permite mostrar su ubicación en el mapa.
X-Geoclue-Reason[eu]=Zure kokalekua maparen gainean erakustea baimentzen du.
X-Geoclue-Reason[fa]=اجازهٔ نمایش موقعیتتان روی نقشه.
X-Geoclue-Reason[fi]=Sallii sijaintisi näytettävän kartalla.
X-Geoclue-Reason[fr]=Permet d’afficher votre emplacement sur la carte.
X-Geoclue-Reason[fur]=Permet ae tô posizion di jessi mostrade te mape.
X-Geoclue-Reason[gd]=Faodaidh far a bheil thu a nochdadh air a’ mhapa le seo.
X-Geoclue-Reason[gl]=Permitir que se mostre a súa localización no mapa.
X-Geoclue-Reason[he]=מאפשר למיקום שלך להיראות על המפה.
X-Geoclue-Reason[hi]=आपके स्थान को मानचित्र पर दिखाने की अनुमति देता है।
X-Geoclue-Reason[hr]=Omogućuje vašoj lokaciji da bude prikazana na mapi.
X-Geoclue-Reason[hu]=Lehetővé teszi a földrajzi helyének megjelenítését a térképen.
X-Geoclue-Reason[id]=Memungkinkan ditunjukkannya lokasi Anda pada peta.
X-Geoclue-Reason[is]=Leyfir að staðsetning þín sé birt á kortinu.
X-Geoclue-Reason[it]=Consente alla vostra posizione di essere mostrata sulla mappa.
X-Geoclue-Reason[ja]=あなたの場所を地図に表示する。
X-Geoclue-Reason[ka]=შესაძლებელს ხდის თქვენი მდებარეობის რუკაზე ჩვენებას.
X-Geoclue-Reason[kab]=Yessarag adig-k i wakken ad d-iban ɣef tkarḍa.
X-Geoclue-Reason[kk]=Картада сіздің орналасуыңызды көрсете алады.
X-Geoclue-Reason[ko]=사용자 위치를 지도에 표시합니다.
X-Geoclue-Reason[lt]=Leidžia parodyti žemėlapyje jūsų vietą.
X-Geoclue-Reason[lv]=Ļauj uz kartes parādīt jūsu atrašanās vietu.
X-Geoclue-Reason[ml]=നിങ്ങളുടെ ലൊക്കേഷനെ മാപ്പിൽ കാണിക്കുന്നതിന് അനുവദിക്കുന്നു
X-Geoclue-Reason[ms]=Membolehkan lokasi anda ditunjukkan di dalam peta.
X-Geoclue-Reason[nb]=Lar posisjonen din vises på kartet.
X-Geoclue-Reason[ne]=तपाईँको स्थान मानचित्रमा देखाउन अनुमति दिन्छ ।.
X-Geoclue-Reason[nl]=Geeft uw locatie weer op de kaart.
X-Geoclue-Reason[oc]=Permet d'afichar vòstre emplaçament sus la mapa.
X-Geoclue-Reason[pa]=ਤੁਹਾਡੇ ਟਿਕਾਣੇ ਨੂੰ ਨਕਸ਼ੇ ਉੱਤੇ ਦਿਖਾਉਣ ਲਈ ਇਜਾਜ਼ਤ ਦਿੰਦਾ ਹੈ।
X-Geoclue-Reason[pl]=Umożliwia wyświetlenie położenia użytkownika na mapie.
X-Geoclue-Reason[pt]=Permite que a sua localização seja colocada no mapa.
X-Geoclue-Reason[pt_BR]=Permite que sua localização seja mostrada no mapa.
X-Geoclue-Reason[ru]=Позволяет показывать на карте ваше местоположение.
X-Geoclue-Reason[ro]=Permite afișarea pe hartă a locului în care te afli.
X-Geoclue-Reason[sk]=Umožňuje vám zobraziť si na mape vaše miesto.
X-Geoclue-Reason[sl]=Dovoli prikazovanje trenutnega mesta na zemljevidu.
X-Geoclue-Reason[sr]=Дозвољава да се ваша локација приказује на карти.
X-Geoclue-Reason[sr@latin]=Dozvoljava da se vaša lokacija prikazuje na karti.
X-Geoclue-Reason[sv]=Tillåter att din plats visas på kartan.
X-Geoclue-Reason[th]=อนุญาตให้ตำแหน่งของคุณแสดงบนแผนที่
X-Geoclue-Reason[tr]=Konumunuzun haritada gösterilmesini sağlar.
X-Geoclue-Reason[ug]=ئورنىڭىزنى خەرىتىدە كۆرسىتىشكە يول قويىدۇ.
X-Geoclue-Reason[uk]=Дозволити вашому перебуванню показуватись на карті.
X-Geoclue-Reason[uz]=Sizning joylashuvingizni xaritada ko'rsatishga ruxsat beradi.
X-Geoclue-Reason[vi]=Cho phép vị trí của bạn được hiển thị trên bản đồ.
X-Geoclue-Reason[zh_CN]=允许你的位置显示在地图上。
X-Geoclue-Reason[zh_TW]=允許您的位置顯示在地圖上。
X-Geoclue-Reason=Allows your location to be shown on the map.
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
